<div class="container">
	  <div class="site-title">
		  <h1>
			{%- if {{site.data.courses[page.course]}} -%}
			  {{site.data.courses[page.course].title}}
			{%- else -%}
			  {{ site.title | escape }}
			{%- endif -%}
		  </h1>
		  {%- if site.unit_name -%}
			  <h2 class="parent-unit">
				  <a href="{{ site.unit_url }}" target="_blank">{{ site.unit_name | escape }}</a>
			  </h2>
		  {%- endif -%}
	  </div>
	</div>
	
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	  <div class="container">
		<button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbar">
		  <ul class="navbar-nav">
			{%- for pages in site.header_pages -%}
			  {% if pages.subpages %}
				<li class="nav-item dropdown">
				  <a class="nav-link dropdown-toggle" href="#" id="nav-page-{{ forloop.index }}"  role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ pages.title | escape }}</a>
				  <ul class="dropdown-menu" aria-labelledby="nav-page-{{ forloop.index }}">
					{%- for subpages in pages.subpages -%}
					  {% if subpages.absolute %}
						<li><a class="dropdown-item" href="{{ subpages.url | absolute_url }}">{{ subpages.title | escape }}</a></li>
					  {% else %}
						<li><a class="dropdown-item" href="{{ subpages.url | relative_url }}">{{ subpages.title | escape }}</a></li>
					  {% endif %}
					{%- endfor -%}
				  </ul>
				</li>
			  {% else %}
				<li class="nav-item">
				  {% if pages.absolute %}
					<a class="nav-link" href="{{ pages.url | absolute_url }}">{{ pages.title | escape }}</a>
				  {% else %}
					<a class="nav-link" href="{{ pages.url | relative_url }}">{{ pages.title | escape }}</a>
				  {% endif %} 
				</li>
			  {% endif %}
			{%- endfor -%}
			{% if site.nav_showcourses == 1 %}
			  {% for course in site.data.courses %}
				<li class="nav-item dropdown">
				  {% assign element = course[0] %}
				  <a  class="nav-link dropdown-toggle" href="#" id="nav-course-{{ forloop.index }}"  role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ site.data.courses[element].shorttitle | escape}}</a>
				  <ul class="dropdown-menu" aria-labelledby="nav-course-{{ forloop.index }}">
					<li><a href="{{ '/courses/' | append: element | append: '/' | append: site.data.courses[element].homepage | append: '.html'  | relative_url }}" class="dropdown-item">Course Home</a></li>
					{% for unit in site.data.courses[element].units %}
						{% assign uid = unit[0] %}
						{% assign url = '/courses/' | append: element | append: '/' | append: site.data.courses[element].units[uid].home | append: '.html' %}
						<li><a href="{{ url | relative_url }}" class="dropdown-item">{{ site.data.courses[element].units[uid].title | escape }}</a></li>
					{% endfor %}
				  </ul>
				</li>
			  {% endfor %}
			{% else %}
			  <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="nav-courselist"  role="button" data-bs-toggle="dropdown" aria-expanded="false">Courses</a>
				<ul class="dropdown-menu" aria-labelledby="nav-courselist">
				  {% for course in site.data.courses %}
					{% assign element = course[0] %}
					<li><a href="{{ '/courses/' | append: element | append: '/' | append: site.data.courses[element].homepage | append: '.html'  | relative_url }} " class="dropdown-item">{{ site.data.courses[element].title | escape }}</a></li>
				  {% endfor %}
				</ul>
			  </li>
			{% endif %} 
		  </ul>
		</div>
	  </div>
	</nav>
	