---
layout: default
---
<article>
  <header class="container-fluid page-title">
    <h1>{{ page.title | escape }}</h1>
    <hr/>
  </header>
  {% if site.data.courses[page.course].units[page.unit].pages %}
    <div class="container-fluid">
      <div class="row">
        <aside class="col-md-3 col-xs-12" aria-label="sidebar">
          <nav class="list-group">
            {%- for item in site.data.courses[page.course].units[page.unit].pages -%}
                <a href="{{ item.url | relative_url }} " class="list-group-item list-group-item-action {% if page.url == item.url %}active{% endif %}">{{ item.title }}</a>
            {%- endfor -%}
            <a href="{{ site.data.courses[page.course].homepage | relative_url }} " class="list-group-item list-group-item-action nav-list-home">Course Home</a>
          </nav>
        </aside>
        <main class="col-md-9 col-xs-12">
          {{ content }}
        </main>
      </div>

    </div>


  {% else %}
    <main class="container">
      {{ content }}
    </main>
  {% endif %}

</article>

{% if site.data.courses[page.course].units[page.unit].pages %}
  <nav class="container mt-5" aria-label="Previous/Next Navigation">
    <ul class="pagination pagination-lg  justify-content-center">
      {%- for item in site.data.courses[page.course].units[page.unit].pages -%}
        {% assign next_i = forloop.index0 | plus: 1 %}
        {% assign prev_i = forloop.index0 | minus: 1 %}
        {% if page.url == item.url %}
          {% if site.data.courses[page.course].units[page.unit].pages[prev_i] and forloop.index0>0 %}
            <li class="page-item">
              <a class="page-link" href="{{site.data.courses[page.course].units[page.unit].pages[prev_i].url | relative_url}}"><i class="fas fa-chevron-left">&nbsp;</i>Previous</i></a>
            </li>
          {% endif %}
          {% if site.data.courses[page.course].units[page.unit].pages[next_i] and next_i!=0 %}
            <li class="page-item ml-auto">
              <a class="page-link" href="{{site.data.courses[page.course].units[page.unit].pages[next_i].url | relative_url}}">Next&nbsp;<i class="fas fa-chevron-right"></i></a>
            </li>
          {% endif %}
        {% endif %}
      {%- endfor -%}
    </ul>
  </nav>
{% endif %}
